@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
  }

  /* shared styles  */
.display-flex{
    display: flex;
}  

.text-gray{
    color: #424242;
}
.text-primary{
    color: #FF900E;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background: #ff900E;
    color: #fff;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.section-description{
    color: rgb(114, 114, 114);
    font-weight: 400;
}
  /* Nav styles  */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles  */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 4.5rem;
}
.banner-description{
    color: rgb(114, 114, 114);
    font-weight: 400;
}
.banner-img{
    width: 100%;
}

/* team section related styles  */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* Fact Section Style  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.fact{
    width: 240PX;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #FF900E;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
}
/* responsive media query  */
 @media screen and (max-width:576px) {
  .navbar , .nav-links , .teams{
    flex-direction: column;
  }  
  .team-img-container{
    grid-template-columns: repeat(1 , 1fr);
  }
  .our-features{
    margin-left: 20px;
  }
 }
 /* medium size device  */
 @media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features {
        margin-left: 0px;
    }
 }